{#jinja2: lstrip_blocks: True, trim_blocks: True #}

{# ------------------------------ #}
{# Interfaces                     #}
{# ------------------------------ #}
{% for i in interfaces %}
    {# Bridge-Interfaces (mit Members) #}
    {% if i.interface_type == "bridge" and i.members is defined %}
        {% for m in i.members %}
set interfaces {{ i.interface_type }} {{ i.interface }} member interface {{ m }}
        {% endfor %}
    {% endif %}
    
    {# Wireguard-Interfaces #}
    {% if i.interface_type == "wireguard" %}
set interfaces wireguard wg0 private-key '{{ i.private_key }}'
set interfaces wireguard wg0 port '{{ i.port }}'
        {% if i.peers is defined %}
            {% for p in i.peers %}
set interfaces wireguard wg0 peer {{ p.peer }} address '{{ p.address }}'
set interfaces wireguard wg0 peer {{ p.peer }} allowed-ips '{{ p.allowed_ips }}'
set interfaces wireguard wg0 peer {{ p.peer }} port '{{ p.port }}'
set interfaces wireguard wg0 peer {{ p.peer }} public-key '{{ p.public_key }}'
            {% endfor %}
        {% endif %}
    {% endif %}

    {# MTU und MSS-Anpassungen #}
    {% if i.mtu is defined %}
set interfaces {{ i.interface_type }} {{ i.interface }} mtu '{{ i.mtu }}'
        {% if i.mtu < 1500 %}
set interfaces {{ i.interface_type }} {{ i.interface }} ip adjust-mss '{{ i.mtu - 40 }}'
set interfaces {{ i.interface_type }} {{ i.interface }} ipv6 adjust-mss '{{ i.mtu - 60 }}'
        {% endif %}
    {% endif %}

    {# VRF-Zuordnung #}
    {% if i.vrf is defined %}
set interfaces {{ i.interface_type }} {{ i.interface }} vrf '{{ i.vrf }}'
    {% endif %}

    {# IPv4-Adressen #}
    {% if i.ipv4_addresses is defined %}
        {% for a4 in i.ipv4_addresses %}
set interfaces {{ i.interface_type }} {{ i.interface }} address '{{ a4 }}'
        {% endfor %}
    {% endif %}

    {# IPv6-Adressen #}
    {% if i.ipv6_addresses is defined %}
        {% for a6 in i.ipv6_addresses %}
set interfaces {{ i.interface_type }} {{ i.interface }} address '{{ a6 }}'
        {% endfor %}
    {% endif %}

    {# Description setzen oder löschen #}
    {% if i.description is defined %}
set interfaces {{ i.interface_type }} {{ i.interface }} description '{{ i.description }}'
    {% else %}
delete interfaces {{ i.interface_type }} {{ i.interface }} description
    {% endif %}
{% endfor %}

{# ------------------------------ #}
{# Policy                         #}
{# ------------------------------ #}
{% if policy is defined %}
    {# Im neuen Format ist "policy" eine Liste von Dictionaries – jedes Element enthält einen Schlüssel wie "prefix_lists", "route_maps" etc. #}
    {% for p in policy %}
        {# Prefix-Lists (IPv4) #}
        {% if p.prefix_lists is defined %}
            {% for pl in p.prefix_lists %}
set policy prefix-list {{ pl.prefix_list }} description '{{ pl.description }}'
                {% for r in pl.rules %}
set policy prefix-list {{ pl.prefix_list }} rule {{ r.rule }} action {{ r.action }}
                    {% if r.ge is defined %}
set policy prefix-list {{ pl.prefix_list }} rule {{ r.rule }} ge {{ r.ge }}
                    {% endif %}
                    {% for pfx in r.prefixes %}
set policy prefix-list {{ pl.prefix_list }} rule {{ r.rule }} prefix {{ pfx }}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        {# Prefix-Lists (IPv6) #}
        {% if p.prefix_lists6 is defined %}
            {% for pl6 in p.prefix_lists6 %}
set policy prefix-list6 {{ pl6.prefix_list6 }} description '{{ pl6.description6 }}'
                {% for r6 in pl6.rules6 %}
set policy prefix-list6 {{ pl6.prefix_list6 }} rule {{ r6.rule6 }} action {{ r6.action6 }}
                    {% if r6.ge6 is defined %}
set policy prefix-list6 {{ pl6.prefix_list6 }} rule {{ r6.rule6 }} ge {{ r6.ge6 }}
                    {% endif %}
                    {% for pfx6 in r6.prefixes6 %}
set policy prefix-list6 {{ pl6.prefix_list6 }} rule {{ r6.rule6 }} prefix {{ pfx6 }}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        {# Route-Maps (IPv4) #}
        {% if p.route_maps is defined %}
            {% for rm in p.route_maps %}
set policy route-map {{ rm.route_map }} description '{{ rm.description }}'
                {% for r in rm.rules %}
set policy route-map {{ rm.route_map }} rule {{ r.rule }} action {{ r.action }}
                    {% if r.match is defined %}
set policy route-map {{ rm.route_map }} rule {{ r.rule }} match {{ r.match }}
                    {% endif %}
                    {% if r.set is defined %}
set policy route-map {{ rm.route_map }} rule {{ r.rule }} set {{ r.set }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}

        {# Route-Maps (IPv6) #}
        {% if p.route_maps6 is defined %}
            {% for rm6 in p.route_maps6 %}
set policy route-map {{ rm6.route_map6 }} description '{{ rm6.description6 }}'
                {% for r6 in rm6.rules6 %}
set policy route-map {{ rm6.route_map6 }} rule {{ r6.rule6 }} action {{ r6.action6 }}
                    {% if r6.match6 is defined %}
set policy route-map {{ rm6.route_map6 }} rule {{ r6.rule6 }} match {{ r6.match6 }}
                    {% endif %}
                    {% if r6.set6 is defined %}
set policy route-map {{ rm6.route_map6 }} rule {{ r6.rule6 }} set {{ r6.set6 }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{# ------------------------------ #}
{# BGP                            #}
{# ------------------------------ #}
{% if bgp is defined %}
    {# Global BGP Parameter #}
set protocols bgp parameters router-id '{{ bgp.router_id }}'
set protocols bgp system-as '{{ bgp.as }}'

    {# Address-Family Konfiguration #}
    {% if bgp.afis is defined %}
        {% for af in bgp.afis %}
            {% if af.aggregates is defined %}
                {% for aggregate in af.aggregates %}
set protocols bgp address-family {{ af.afi }} aggregate-address {{ aggregate }}
                {% endfor %}
            {% endif %}
            {% if af.redistribute is defined %}
                {% for rd in af.redistribute %}
set protocols bgp address-family {{ af.afi }} redistribute {{ rd }}
                {% endfor %}
            {% endif %}
            {% if af.networks is defined %}
                {% for n in af.networks %}
set protocols bgp address-family {{ af.afi }} network {{ n }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {# BGP Nachbarn (IPv4) #}
    {% for n in bgp.neighbors %}
set protocols bgp neighbor {{ n.ipv4_address }} description '{{ n.description }}'
set protocols bgp neighbor {{ n.ipv4_address }} remote-as '{{ n.remote_as }}'
set protocols bgp neighbor {{ n.ipv4_address }} update-source '{{ n.update_source }}'
        {% if n.afis is defined %}
            {% for af in n.afis %}
                {% if af.next_hop is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} {{ af.next_hop }}
                {% endif %}
                {% if af.rr is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} {{ af.rr }}
                {% endif %}
                {% if af.route_maps is defined %}
                    {% if af.route_maps.route_map_export is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} route-map export '{{ af.route_maps.route_map_export }}'
                    {% endif %}
                    {% if af.route_maps.route_map_import is defined %}
set protocols bgp neighbor {{ n.ipv4_address }} address-family {{ af.afi }} route-map import '{{ af.route_maps.route_map_import }}'
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {# BGP Nachbarn (IPv6) #}
    {% if bgp.neighbors6 is defined %}
        {% for n in bgp.neighbors6 %}
set protocols bgp neighbor {{ n.ipv6_address }} description '{{ n.description }}'
set protocols bgp neighbor {{ n.ipv6_address }} remote-as '{{ n.remote_as }}'
set protocols bgp neighbor {{ n.ipv6_address }} update-source '{{ n.update_source }}'
            {% if n.afis is defined %}
                {% for af in n.afis %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }}
                    {% if af.next_hop is defined %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }} {{ af.next_hop }}
                    {% endif %}
                    {% if af.rr is defined %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }} {{ af.rr }}
                    {% endif %}
                    {% if af.route_maps is defined %}
                        {% if af.route_maps.route_map_export is defined %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }} route-map export '{{ af.route_maps.route_map_export }}'
                        {% endif %}
                        {% if af.route_maps.route_map_import is defined %}
set protocols bgp neighbor {{ n.ipv6_address }} address-family {{ af.afi }} route-map import '{{ af.route_maps.route_map_import }}'
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{# ------------------------------ #}
{# ISIS                           #}
{# ------------------------------ #}
{% if isis is defined %}
set protocols isis net {{ isis.net }}
set protocols isis level {{ isis.level }}
    {% for intf in isis.interfaces %}
set protocols isis interface {{ intf.interface }}
    {% endfor %}
{% endif %}

{# ------------------------------ #}
{# MPLS                           #}
{# ------------------------------ #}
{% if mpls is defined %}
    {% for intf in mpls.interfaces %}
set protocols mpls interface '{{ intf.interface }}'
    {% endfor %}
    {% if mpls.ldp is defined %}
set protocols mpls ldp router-id '{{ mpls.ldp.router_id }}'
set protocols mpls ldp discovery transport-ipv4-address '{{ mpls.ldp.transport_ipv4_address }}'
set protocols mpls ldp discovery transport-ipv6-address '{{ mpls.ldp.transport_ipv6_address }}'
        {% if mpls.ldp.interfaces is defined %}
            {% for l in mpls.ldp.interfaces %}
set protocols mpls ldp interface '{{ l.interface }}'
            {% endfor %}
        {% endif %}
    {% endif %}
{% endif %}

{# ------------------------------ #}
{# OSPF                           #}
{# ------------------------------ #}
{% if ospf is defined %}
set protocols ospf parameters router-id '{{ ospf.router_id }}'
    {% for area in ospf.areas %}
        {% for net in area.networks %}
set protocols ospf area {{ area.area }} network '{{ net }}'
        {% endfor %}
    {% endfor %}
    {% for intf in ospf.interfaces %}
        {% if intf.passive is defined and intf.passive %}
set protocols ospf interface {{ intf.interface }} passive
        {% else %}
set protocols ospf interface {{ intf.interface }}
        {% endif %}
    {% endfor %}
{% endif %}

{# ------------------------------ #}
{# OSPFv3                        #}
{# ------------------------------ #}
{% if ospfv3 is defined %}
set protocols ospfv3 parameters router-id '{{ ospfv3.router_id }}'
    {% for area in ospfv3.areas %}
set protocols ospfv3 area {{ area.area }}
        {% if area.networks is defined %}
            {% for net in area.networks %}
set protocols ospfv3 area {{ area.area }} network '{{ net }}'
            {% endfor %}
        {% endif %}
        {% for intf in ospfv3.interfaces %}
            {% if intf.passive is defined and intf.passive %}
set protocols ospfv3 interface {{ intf.interface }} passive
            {% else %}
set protocols ospfv3 interface {{ intf.interface }} area {{ area.area }}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

{# ------------------------------ #}
{# Static Routes                #}
{# ------------------------------ #}
{% if static is defined %}
    {% if static.routes is defined %}
        {% for r in static.routes %}
set protocols static route {{ r.destination }} next-hop {{ r.next_hop }}
        {% endfor %}
    {% endif %}
    {% if static.routes6 is defined %}
        {% for r6 in static.routes6 %}
set protocols static route6 {{ r6.destination }} next-hop {{ r6.next_hop }} interface {{ r6.interface }}
        {% endfor %}
    {% endif %}
{% endif %}

{# ------------------------------ #}
{# VRFs                         #}
{# ------------------------------ #}
{% if vrfs is defined %}
    {% for vrf in vrfs %}
set vrf name {{ vrf.vrf }} table '{{ vrf.table }}'
    {% endfor %}
{% endif %}

{# ------------------------------ #}
{# Services                     #}
{# ------------------------------ #}
{% if services is defined %}
    {% for s in services %}
        {# SSH Service #}
        {% if s.service == "ssh" %}
set service ssh port '{{ s.port }}'
set service ssh vrf '{{ s.vrf }}'
        {% endif %}

        {# DHCP-Relay Service #}
        {% if s.service == "dhcp-relay" %}
            {% for li in s.listen_interfaces %}
set service dhcp-relay listen-interface {{ li }}
            {% endfor %}
            {% if s.relay_options is defined %}
                {% for ro in s.relay_options %}
set service dhcp-relay relay-options {{ ro }}
                {% endfor %}
            {% endif %}
set service dhcp-relay server {{ s.server }}
            {% for ui in s.upstream_interfaces %}
set service dhcp-relay upstream-interface {{ ui }}
            {% endfor %}
        {% endif %}

        {# DHCPv6-Relay Service #}
        {% if s.service == "dhcpv6-relay" %}
            {% for li in s.listen_interfaces %}
set service dhcpv6-relay listen-interface {{ li }}
            {% endfor %}
            {% for ui in s.upstream_interfaces %}
set service dhcpv6-relay upstream-interface {{ ui }} address {{ s.address }}
            {% endfor %}
            {% if s.options is defined %}
                {% for opt in s.options %}
set service dhcpv6-relay {{ opt }}
                {% endfor %}
            {% endif %}
        {% endif %}

        {# Router-Advert Service #}
        {% if s.service == "router-advert" %}
            {% for intf in s.interfaces %}
                {% if intf.default_preference is defined %}
set service router-advert interface {{ intf.interface }} default-preference {{ intf.default_preference }}
                {% endif %}
                {% if intf.name_servers is defined %}
                    {% for ns in intf.name_servers %}
set service router-advert interface {{ intf.interface }} name-server {{ ns }}
                    {% endfor %}
                {% endif %}
                {% if intf.config_flags is defined %}
                    {% for cf in intf.config_flags %}
set service router-advert interface {{ intf.interface }} {{ cf }}
                    {% endfor %}
                {% endif %}
set service router-advert interface {{ intf.interface }} prefix {{ intf.prefix }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{# ------------------------------ #}
{# Common Settings              #}
{# ------------------------------ #}
set system config-management commit-revisions '100'
set system conntrack modules ftp
set system conntrack modules h323
set system conntrack modules nfs
set system conntrack modules pptp
set system conntrack modules sip
set system conntrack modules sqlnet
set system conntrack modules tftp
