{% for item in interfaces %}
{% if item.interface != "eth0" %}
delete interfaces {{ item.interface_type }} {{ item.interface }}
{% endif %}
{% endfor %}

delete bgp
delete mpls
delete ospf
delete policy
delete static