{# interfaces #}
{% for item in interfaces %}
    set interfaces {{ item.interface_type }} {{ item.interface }} address '{{ item.ipv4_address }}'
    {% if item.interface_type == "bridge" %}
        {% for m in item.members %}
            set interfaces {{ item.interface_type }} {{ item.interface }} member interface {{ m }}
        {% endfor %}
    {% endif %}
    {% if item.interface_type == "wireguard" %}
        {% for p in item.peers %}
            set interfaces wireguard wg0 description '{{ p.peer }}'
            set interfaces wireguard wg0 peer {{ p.peer }} address '{{ p.address }}'
            set interfaces wireguard wg0 peer {{ p.peer }} allowed-ips '{{ p.allowed_ips }}'
            set interfaces wireguard wg0 peer {{ p.peer }} port '{{ p.port }}'
            set interfaces wireguard wg0 peer {{ p.peer }} public-key '{{ p.public_key }}='
        {% endfor %}
        set interfaces wireguard wg0 port '{{ item.port }}'
        set interfaces wireguard wg0 private-key '{{ item.private_key }}'
    {% endif %}
        {% if item.mtu is defined %}
            set interfaces {{ item.interface_type }} {{ item.interface }} mtu '{{ item.mtu }}'
        {% endif %}
{% endfor %}

{# policy #}
{% if policy is defined %}
    {% for p in policy %}
        {# route-map #}
        {% if p.route_maps is defined %}
            {% for rm in p.route_maps %}
                set policy route-map {{ rm.route_map }} description {{ rm.description }}
                {% for r in rm.rules %}
                    set policy route-map {{ rm.route_map }} rule {{ r.rule }} {{ r.action }}
                    {% if r.match is defined %}
                        set policy route-map {{ rm.route_map }} rule {{ r.rule }} match {{ r.match }}
                    {% endif %}
                    {% if r.set is defined %}
                        set policy route-map {{ rm.route_map }} rule {{ r.rule }} set {{ r.set }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}